**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo
artifacts/
captures/
/Play/
/dist/
games/Campaign/Content/Earth/ne_land.geojson
games/Campaign/Content/Earth/land_preview.png
games/Campaign/Content/Earth/land360.txt
