**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo
artifacts/
captures/
/Play/
/dist/
samples/Campaign/Content/Earth/ne_land.geojson
samples/Campaign/Content/Earth/land_preview.png
samples/Campaign/Content/Earth/land360.txt
